<!DOCTYPE html>
<html>
    <body>
        {{- block "main" . }}
            <main>
                <p> This is the base template </p>
                {{ .Content }}
            </main>
        {{- end }}
    </body>
</html>
