{{ define "main" }}
    <header>
        <p> Welcome dear user </p>
    </header>
    <main>
        {{ .Content}}
    </main>
    <footer>
        <p> Wow, what a nice footer! </p>
    </footer>
{{ end }}
